<div class="container">
    <div class="header">
        {{ section.settings.header }}
    </div>
    <div class="seo">
        {{ section.settings.seo}}
    </div>
</div>

{% schema %}
{
    "name": "contact-us header",
    "class": "header",
    "tag": "div",
    "settings": [
        {
            "type": "text",
            "id": "header",
            "label": "Contact Us header"
        },
        {
            "type": "text",
            "id": "seo",
            "label": "seo"
        }
    ],
    "blocks": [],
    "presets": [
        {
            "name": "contact-us header",
            "blocks": []
        }
    ]
}
{% endschema %}