{{ 'contact_us_header.css' | asset_url | stylesheet_tag }}

<div class="container">
    <div class="header_row">
        {{ section.settings.header }}
    </div>
    <div class="seo">
        {{ section.settings.seo}}
    </div>
</div>

{% schema %}
{
    "name": "Contact us header",
    "tag": "div",
    "settings": [
        {
            "type": "text",
            "id": "header",
            "label": "Contact us header"
        },
        {
            "type": "text",
            "id": "seo",
            "label": "Seo"
        }
    ],
    "blocks": [],
    "presets": [
        {
            "name": "Contact-us header",
            "blocks": []
        }
    ]
}
{% endschema %}