{{ 'contact_us_header.css' | asset_url | stylesheet_tag }}

<div class="container">
   {% if section.settings.header != blank %}
        <div class="header_row">
            {{ section.settings.header }}
        </div>
   {% endif %}
    {% if section.settings.seo != blank %}
        <div class="seo">
            {{ section.settings.seo }}
        </div>
    {% endif %}
</div>

{% schema %}
{
    "name": "Contact us header",
    "settings": [
        {
            "type": "text",
            "id": "header",
            "label": "Contact us header"
        },
        {
            "type": "text",
            "id": "seo",
            "label": "Seo"
        }
    ],
    "presets": [
        {
            "name": "Contact us header"
        }
    ]
}
{% endschema %}