{{ 'featured-blog-custom.css' | asset_url | stylesheet_tag }}

<div class="featured-blog-custom">
  <div class="featured-blog-custom-header">
    {% if section.settings.heading != blank %}
      {{ section.settings.heading }}
    {% endif %}
  </div>
  <div class="featured-blog-custom-sub-header">
    {% if section.settings.sub_heading != blank %}
      {{ section.settings.sub_heading }}
    {% endif %}
  </div>
  <div class="featured-blog-custom-posts">
    {% for article in section.settings.blog.articles limit: 3 %}
      <div class="blog-post-{{ forloop.index }}">

      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Featured blogs custom",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Blog posts",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "default": "section sub heading",
      "label": "Sub heading"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_author.label"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog post"
    }
  ],
  "presets": [
    {
      "name": "Featured blog custom"
    }
  ]
}
{% endschema %}
