{{ 'featured-blog-custom.css' | asset_url | stylesheet_tag }}

<div class="featured-blog-custom">
  <div class="featured-blog-custom-header">
    {% if section.settings.heading != blank %}
      {{ section.settings.heading }}
    {% endif %}
  </div>
  <div class="featured-blog-custom-sub-header">
    
  </div>
  <div class="featured-blog-custom-posts">

  </div>
</div>

{% schema %}
{
  "name": "Featured blogs custom",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Blog posts",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "default": "section sub heading",
      "label": "Sub heading"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_author.label"
    }
  ],
  "blocks": [
    {
      "type": "post",
      "name": "Blog post",
      "limit": 3,
      "settings": [
        {
            "type": "blog",
            "id": "post",
            "label": "Blog post"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured blog custom",
      "blocks": [
        {
          "type": "post"
        }
      ]
    }
  ]
}
{% endschema %}
