.container {
    width: 100%;
    height: calc(100vw/1.6);
    position: relative;
    filter: brightness(50%);
}

.container img {
    width: 100%;
    height: 100%;
}

.content_container {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
   
    border: 1px solid black;
    filter: brightness(100%);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 2%;
    top: 35%;
    border: 1px solid black;
}