.container {
    width: 100%;
    height: calc(100vw/1.6);
    position: relative;
    filter: brightness(100%);
}

.container img {
    width: 100%;
    height: 100%;
}

.content_container {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    border: 1px solid black;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 5%;
    top: 20%;
    max-width: 50%;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
}

.header_text, .season {
    display: block;
    font-size: 6vw;
    text-align: center;
    width: 100%;
}

.button {
    background-color: transparent;
    font-size: 1.5vw;
    color: black;
    border: none;
}

.container:hover {
    background-color: ;
}