.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f4f4f4;
}

.header_row {
    width: 100%;
    height: auto;
    margin-top: 80px;
    font-size: 5vw;
}

.seo {
    width: 100%;
    height: auto;
    font-size: 2vw;
    margin-bottom: 115px;
}

