.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f4f4f4;
}

.header_row {
    width: 100%;
    height: auto;
    margin-top: 10vh;
    font-size: 4vw;
    FONT-WEIGHT: bold;
    letter-spacing: 0.3vw;
    word-spacing: 0.5vw;
}

.seo {
    width: 100%;
    height: auto;
    font-size: 1.5vw;
    margin-bottom: 12vh;
    margin-top: 1vh;
    word-spacing: 0.5vw;
}

