.container_contact_details {
    width: 100%;
    height: auto;
}

.info_details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading {
    width: 100%;
    height: auto;
    text-align: center;
}

.phone, .email, .address {
    width: 33%;
    height: auto;
    text-align: center;
}