.container {
    display: block;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header_row {
    width: 100%;
    height: auto;

}

.seo {
    width: 100%;
    height: auto;
}

