.featured-blog-custom {
    margin: auto;
    width: 90%;
    height: auto;
    max-width: 1110px;
    display: flex;
    flex-direction: column;
}

.featured-blog-custom-header {
    text-align: center;
    width: 100%;
    font-size: 3vw;
    font-weight: 600;
}

.featured-blog-custom-sub-header {
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 1.3vw;
    margin-bottom: 5vh;
}

.featured-blog-custom-posts{
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 480px;
    height: auto;
    justify-content: space-between;
}

.blog-post {
    width: 50%;
    height: auto;
}

.blog-post-img {
    width: 100%;
    height: 70%;
}

.blog-post-img img {
    width: 100%;
    height: 100%;
}

.blog-post-content{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
}

.blog-post-content .blog-post-title a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.blog-post-sub_title{
    font-size: 15px;
    color: gray;
}

.blog-post-excerpt a {
    text-decoration: none;
    color: gray;
    font-size: 13px;
}

.paginate {
    text-align: center;
}

.pagination-wrapper {
    margin-top: 0px !important;
}