.featured-collection-custom-container {
    margin: auto;
    width: 90%;
    height: auto;
    max-width: 1110px;
    display: flex;
    flex-direction: column;
}

.featured-collection-custom-header {
    text-align: center;
    width: 100%;
    font-size: 2.5vw;
    font-weight: 600;
}

.featured-collection-custom-sub-header {
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 1.3vw;
    margin-bottom: 5vh;
}

.featured-collection-custom-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 350px;
    height: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    height: 100%;
    border: 1px solid black;
}

.product-image {
    width: 100%;
    height: 75%;
}

.product-image img {
    width: 100%;
    height: 100%;
}

.product-info {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
}

.product-title a {
    text-decoration: none;
    color: black;
    font-weight: 400
}

.product-ratings a {
    text-decoration: none;
    color: black;
    font-size: 10px;
}

.product-variables {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.product-prices {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.product-prices .compare-at-price a {
    text-decoration: line-through;
    color: gray;
    margin-right: 10px;
    font-weight: 600;
}

.product-prices .current-price a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.product-vars {
    width: 50%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.product-vars .dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.3vw;
}





