.featured-collection-custom-container {
    margin: auto;
    width: 90%;
    height: auto;
    max-width: 1110px;
    display: flex;
    flex-direction: column;
}

.featured-collection-custom-header {
    text-align: center;
    width: 100%;
    font-size: 3vw;
    font-weight: 600;
}




